@charset"utf-8";

*{margin:0; box-sizing:border-box; text-decoration:none;}

      ul, ol, li {list-style:none; margin:0; padding:0;}

      a {text-decoration:none; color:#000;}

      table, tr, th ,td {margin:0; padding:0;}






      header {width:100%; height:260px; margin:0 auto;}



      #box3_02 {width:1298px; height:150px; margin:0 auto;}

      #box3_02 > #logo {width:145px; height:110px; margin:0 auto;}

      #box3_02 > #logo > img {width:100%; height:100%;}

      #box3_02 > #logo > img > a:hover{cursor:pointer; display:none;}



      #box3_02 > #login {width:350px; height:30px; float:right;}

      #box3_02 > #login > ul {width:260px; height:30px; margin:-100px 100px 0px 0px; float:right;}

      #box3_02 > #login > ul > li {font-size:12px; margin:5px; float:right;}

      #box3_02 > #login > ul > li > p {color:#f5f5f5;}

      #box3_02 > #login > ul > li a:hover {cursor:pointer;}





      nav {width:100%; height:65px; float:left; padding:3px; margin:0 auto;}

      nav > ul {width:1260px; height: 30px; margin:0 auto;}

      nav > ul > li {font-size:18px; float:left; margin:0px 0 0 50px; color:#e0e0e0; line-height:50px;}

      nav > ul > li > a {text-decoration:none; color:#000; padding:13px 0 0 0px; text-align:center;}

      nav > ul > li > a:hover {border-top:3px solid gold;}



      .nav1 {width:100%; height:45px; float:left; margin:0 auto; padding:10px; background-color:#f5f5f5; display:block;}

      .nav1 > ul {width:1260px; height: 35px; margin: 0 auto;}

      .nav1 > ul > li {font-size:13.85px; float:left; margin:5px 0 0 34px; padding:0; color:#e0e0e0;}
      
      .nav1 > ul > li:first-child {border-bottom:1px solid #000;}

      .nav1 > ul > li > a {text-decoration:none; color:#000; padding:15px 0 0 0px; text-align:center;}

      .nav1 > ul > li > a:hover {cursor:pointer; color:#000;}






      #contents {width:1298px; height:10200px; margin:0 auto; padding:10px;}

      #contents > #title {width:500px; height:40px; margin:30px 0 0 30px;}

      #contents > #title > h4 {float:left; margin:10px 0 0 30px;}



      .product1 {width:600px; height:700px; float:left; margin:0px 0 0 30px;}


      .pd_imgbox {width:540px; height:550px; float:left; margin:20px 0 0 30px;}

      .pd_imgbox > img {width:100%; height:100%;}

      .smallbox1 {width:100px; height:100px; margin:20px 0 0 30px; float:left;cursor:pointer;}

      .smallbox1 > img {width:100%; height:100%;}

      .smallbox {width:100px; height:100px; margin:20px 0 0 10px; float:left; cursor:pointer;}

      .smallbox > img {width:100%; height:100%;}




      .product2 {width:600px; height:700px; float:left; margin:0px 0 0 30px;}

      #pd2_box1 {width:100%; height:443px;margin:20px 0 0 0px;}

      #pd2_textbox {width:100%; height:30px;}

      #pd2_textbox > h3 {font-size:18px;}

      #pd2_box1 > table {width:100%; height:380px; text-align:left; margin:30px 0 0 0px; color:#424242; border-bottom:1px solid #bdbdbd;} 

      #pd2_box1 > table {font-size:14px;}
       
      #pd2_tablebox {width:100%; height:100px;}

      #pd2_tablebox > table {width:100%; height:100px; margin:5px 0 0 0px; color:#424242;} 

      #pd2_tablebox > table select {margin:0px 0 0 115px; padding:5px; width:440px;} 

      #pd2_box2 {width:100%; height:100px; margin:20px 0 0 0px;}




      #pd2_box2 > .pd2_button1 {float:right; width:215px; height:50px; background-color:#fff; border:1px solid #eee;  margin:0px 0 0 0px; font-size:17px; color:#000;}

      #pd2_box2 >.pd2_button1:first-of-type {margin:0px 8px 0 10px; background-color:#000; color:#fff;}

      #pd2_box2 > .pd2_button2 {float:right; width:144.5px; height:45px; background-color:#eee; border:1px solid #ddd;  margin:-10px 3px 0 0px; font-size:11px; color:#000;}

      #pd2_box2 > .pd2_button2:nth-of-type(3) {margin:-10px 9px 0 0px;}

      #pd2_box2 > button:hover {cursor:pointer;}











      #b1_textbox {width:100%; height:50px; border-bottom:1px solid #e0e0e0;}

      #b1_textbox > h3 {font-size:25px; float:left; margin:5px 0 0 10px;}

      #box1 {width:1155px; height:340px; float:left; margin:100px 0 0 60px;}

      .b1_box1 {width:220px; height:250px; float:left; margin:20px 0 0 0px;}

      .b1_box {width:220px; height:250px; float:left; margin:20px 0 0 13.7px;}

      .b1_imgbox1 > a > .b1_textbox1 > span {color:#fff; font-size:15px; text-align:center;}

      .b1_imgbox1 {width:220px; height:250px; float:left; text-align:center; position:relative; display:inline-block; cursor:pointer; overflow:hidden;}

      .b1_imgbox1 > a > img {width:100%; height:100%;}

      .b1_imgbox1 > a >  .b1_textbox1 {width:100%; height:100%; float:left; background-color:#000; opacity:0; transition:all 0.5s ease; position:absolute; top:0; left:0;}

      .b1_imgbox1 > a >  .b1_textbox1:hover {opacity:0.5;}




      .b1_imgbox > a > .b1_textbox > span {color:#fff; font-size:15px; text-align:center;}

      .b1_imgbox {width:220px; height:250px; float:left; text-align:center; position:relative; display:inline-block; cursor:pointer; overflow:hidden;}

      .b1_imgbox > a > img {width:100%; height:100%;}

      .b1_imgbox > a >  .b1_textbox {width:100%; height:100%; float:left; background-color:#000; opacity:0; transition:all 0.5s ease; position:absolute; top:0; left:0;}

      .b1_imgbox > a >  .b1_textbox:hover {opacity:0.5;}







      #ct_box1 {width:1228px; height:892px; float:left; margin:30px 0 0 30px;}

      #ct_box1 > #ct_textbox {width:1155px; height:50px; float:left; margin:50px 0 0 30px;}

      #ct_box1 > #ct_textbox > ul > li {width:231px; height:50px; background-color:#eee; float:left; text-align:center; padding:15px 0 0 0px; border:1px solid #ddd; border-bottom:2px solid #424242; font-size:13px;}

      #ct_box1 > #ct_textbox > ul > li:first-child {width:231px; height:50px; background-color:#fff; float:left; text-align:center; padding:15px 0 0 0px; border:2px solid #424242; border-bottom:1px solid #fff; font-size:13px;}

      .ct_imgbox1 {width:900px; height:500px; margin:150px 0 0 155px;}      

      .ct_imgbox1 > img {width:100%; height:100%;}

      .ct_tbox1 {width:900px; height:182px; margin:30px 0 0 155px; text-align:center;}

      .ct_tbox1 > p {font-size:23px; padding:10px;}

      .ct_tbox1 > p > span {margin:0px 0 0 20px;}

      .ct_tbox1 > h1 {font-size:27px;}





      #ct_box2 {width:1228px; height:950px; float:left; margin:0px 0 0 30px;}

      .ct_imgbox2 {width:900px; height:900px; margin:0px 0 0 155px;}

      .ct_imgbox2 > img {width:100%; height:100%;}





      #ct_box3 {width:1228px; height:2240px; float:left; margin:0px 0 0 30px;}

      .ct_tbox3_1 {width:900px; height:90px; margin:0px 0 0 155px; text-align:center;}

      .ct_tbox3_1 > p {font-size:19px; padding:10px;}





      .ct_imgbox3_1 {width:900px; height:1000px; margin:20px 0 0 155px;}

      .ct_imgbox3_1 > img {width:100%; height:100%;}




      .ct_imgbox3_2 {width:900px; height:1000px; margin:30px 0 0 155px;}

      .ct_imgbox3_2 > img {width:100%; height:100%;}





      .ct_tbox3_2 {width:900px; height:70px; margin:30px 0 0 155px; text-align:center;}

      .ct_tbox3_2 > p {font-size:19px; padding:10px;}




      #ct_box4 {width:1228px; height:900px; float:left; margin:0px 0 0 0px;}

      .ct_imgbox4 {width:900px; height:800px; margin:35px 0 0 155px;}

      .ct_imgbox4 > img {width:100%; height:100%;}







      #ct_box5 {width:1228px; height:800px; float:left; margin:0;}

      .ct_imgbox5 {width:900px; height:750px; margin:0px 0 0 155px;}

      .ct_imgbox5 > img {width:100%; height:100%;}






      #ct_box6 {width:1228px; height:930px; float:left; margin:30px 0 0 0px;}

      #ct_box6 > #ct_textbox6 {width:1155px; height:50px; float:left; margin:50px 0 0 30px;}

      #ct_box6 > #ct_textbox6 > ul > li {width:231px; height:50px; background-color:#eee; float:left; text-align:center; padding:15px 0 0 0px; border:1px solid #ddd; border-bottom:2px solid #424242; font-size:13px;}

      #ct_box6 > #ct_textbox6 > ul > li:nth-child(2) {width:231px; height:50px; background-color:#fff; float:left; text-align:center; padding:15px 0 0 0px; border:2px solid #424242; border-bottom:1px solid #fff; font-size:13px;}

      .ct_imgbox6 {width:1150px; height:750px; margin:140px 0 0 30px;}

      .ct_imgbox6 > img {width:100%; height:100%;}






      #ct_box7 {width:1228px; height:720px; float:left; margin:30px 0 0 0px;}

      #ct_box7 > #ct_textbox7_1 {width:1155px; height:50px; float:left; margin:50px 0 0 30px;}

      #ct_box7 > #ct_textbox7_1 > ul > li {width:231px; height:50px; background-color:#eee; float:left; text-align:center; padding:15px 0 0 0px; border:1px solid #ddd; border-bottom:2px solid #424242; font-size:13px;}

      #ct_box7 > #ct_textbox7_1 > ul > li:nth-child(3) {width:231px; height:50px; background-color:#fff; float:left; text-align:center; padding:15px 0 0 0px; border:2px solid #424242; border-bottom:1px solid #fff; font-size:13px;}


      #ct_box7 > .ct_textbox7_2 {width:1155px; height:530px; margin:150px 0 0 30px;}

      #ct_box7 > .ct_textbox7_2 > h1 {font-size:25px; margin:0px 0 20px 0px; border-left:5px solid #ffd600; padding:0px 0 0 10px;}

      #ct_box7 > .ct_textbox7_2 > ul > li {float:left; font-size:15px; padding:10px; color:#212121;}

      #ct_box7 > .ct_textbox7_2 > ul > li > p {margin:10px 0 0 11px;}






      #ct_box8 {width:1228px; height:630px; float:left; margin:0px 0 0 0px;}

      #ct_box8 > #ct_textbox8 {width:1155px; height:50px; float:left; margin:30px 0 0 30px;}

      #ct_box8 > #ct_textbox8 > ul > li {width:231px; height:50px; background-color:#eee; float:left; text-align:center; padding:15px 0 0 0px; border:1px solid #ddd; border-bottom:2px solid #424242; font-size:13px;}

      #ct_box8 > #ct_textbox8 > ul > li:nth-child(4) {width:231px; height:50px; background-color:#fff; float:left; text-align:center; padding:15px 0 0 0px; border:2px solid #424242; border-bottom:1px solid #fff; font-size:13px;}

      .ct_buttonbox8 {width:1155px; height:60px; margin:30px 0 0 30px; float:left; border-bottom:1px solid #424242;}

      .ct_buttonbox8 > a > button {float:right; margin:10px 0 0 10px; padding:10px; font-size:12px; background-color:#000; color:#fff; border-radius:3px; cursor:pointer;}


      #ct_box8 > table {margin:250px 0 0 30px; width:1155px; height:350px; font-size:12px;}

      #ct_box8 > table td:first-child {border-bottom:1px solid #bdbdbd; width:20px; text-align:center;}

      #ct_box8 > table td:nth-child(2) {border-bottom:1px solid #bdbdbd; width:150px; text-align:left;}

      #ct_box8 > table td:nth-child(3) {border-bottom:1px solid #bdbdbd; width:10px; text-align:center;}

      #ct_box8 > table td:last-child {border-bottom:1px solid #bdbdbd; width:10px; text-align:center;}








      #ct_box9 {width:1228px; height:630px; float:left; margin:30px 0 0 0px;}

      #ct_box9 > #ct_textbox9 {width:1155px; height:50px; float:left; margin:50px 0 0 30px; background-color:pink;}

      #ct_box9 > #ct_textbox9 > ul > li {width:231px; height:50px; background-color:#eee; float:left; text-align:center; padding:15px 0 0 0px; border:1px solid #ddd; border-bottom:2px solid #424242; font-size:13px;}

      #ct_box9 > #ct_textbox9 > ul > li:last-child {width:231px; height:50px; background-color:#fff; float:left; text-align:center; padding:15px 0 0 0px; border:2px solid #424242; border-bottom:1px solid #fff; font-size:13px;}

      .ct_buttonbox9 {width:1155px; height:60px; margin:30px 0 0 30px; float:left; border-bottom:1px solid #424242;}

      .ct_buttonbox9 > a > button {float:right; margin:10px 0 0 10px; padding:10px; font-size:12px; background-color:#000; color:#fff; border-radius:3px; cursor:pointer;}


      #ct_box9 > table {margin:250px 0 0 30px; width:1155px; height:350px; font-size:12px;}

      #ct_box9 > table td:first-child {border-bottom:1px solid #bdbdbd; width:30px; text-align:center;}

      #ct_box9 > table td:nth-child(2) {border-bottom:1px solid #bdbdbd; width:100px; text-align:center;}

      #ct_box9 > table td:nth-child(3) {border-bottom:1px solid #bdbdbd; width:30px; text-align:center;}

      #ct_box9 > table td:nth-child(4) {border-bottom:1px solid #bdbdbd; width:50px; text-align:center;}

      #ct_box9 > table td:last-child {border-bottom:1px solid #bdbdbd; width:10px; text-align:center;}














      footer {width:100%; height:335px; background-color:#eee;}

      .ft_box {width:1298px; height:245px; margin:0 auto; background-color:#eee; padding:20px;}


      .ft_textbox1 {width:300px; height:225px; margin:0px 0 0 60px; float:left;}

      .ft_textbox1 > h2 {font-size:20px;}

      .ft_textbox1 > ul > li {font-size:12px; margin:0px 0 15px 0px;}

      .ft_textbox1 > ul > li > p {margin:10px 0 0 0px;}

      .ft_textbox2 {width:300px; height:225px; margin:0px 0 0 50px; float:left;}

      .ft_textbox2 > ul > li {font-size:12px; margin:3px 0 15px 0px;}

      .ft_textbox2 > ul > li > p {font-size:12px; margin:5px 0 15px 0px;}

      .ft_textbox3 {width:300px; height:225px; margin:0px 0 0 50px; float:left;}

      .ft_textbox3 > h2 {font-size:20px;}

      .ft_textbox3 > ul > li {font-size:12px; margin:0px 0 15px 0px;}






      .ft_ibox {width:100%; height:84px; background-color:#eee; margin:0 auto; border-top:1px solid #bdbdbd;}

      .ft_iconbox {width:1298px; height:84px; background-color:#eee; margin:0 auto;}

      .ft_icon1 {width:40px; height:40px; margin:18.3px 0 0 480px; float:left;}

      .ft_icon1 > img {width:100%; height:100%;}

      .ft_icon {width:40px; height:40px; margin:18.3px 0 0 20px; float:left;}

      .ft_icon > img {width:100%; height:100%;}






      .ft_bottom {width:100%; height:50px; background-color:#000;}

      .ft_bottom_tb {width:1298px; height:50px; margin:0 auto; background-color:#000;}

      .ft_bottom_tb > ul > li > a {font-size:13px; float:left; margin:18px 30px 0 40px; color:#fff;}